.header {
    margin-bottom: 100px;
}
.item {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1380px;
}

/* 左のセクション */
.item-left {
    width: 50%;
}
.item-left__image {
    padding: 100px 50px;
    width: 100%;
    text-align: center;
}
.item-left__image img {
    width: 600px;
    height: 600px;
}

/* 右のセクション */
.item-right {
    width: 50%;
    padding: 50px;
}
.item-right__content {
    margin-bottom: 30px;
}
.item-right__name {
    font-size: 46px;
    margin: 0px;
}
.item-right__brand {
    font-size: 20px;
    margin: 0px;
}
.item-right__price {
    font-size: 30px;
}

/* いいね・コメント部分 */
.item-right__actions {
    display: flex;
    padding: 0px 40px;
    margin-bottom: 20px;
}
.item-right__favorite {
    margin-right: 50px;
}
.item-right__action-number {
    margin: 0px;
    font-size: 18px;
    text-align: center;
}

/* 購入リンクボタン */
.item-right__sold {
    display: inline-block;
    width: 100%;
    color: #fff;
    background: #0073CC;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    text-align: center;
}
.item-right__purchase {
    display: inline-block;
    width: 100%;
    color: #fff;
    background: #ff5555;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
.item-right__purchase:hover {
    opacity: 0.8;
}

/* 商品説明セクション */
.item-right__explanation {
    margin-bottom: 50px;
}
.item-right__section-title {
    font-size: 36px;
}

/* 商品情報セクション */
.item-right__information {
    margin-bottom: 20px;
}
.item-right__information table {
    text-align: center;
}
.item-right__information th {
    padding-right: 50px;
}
.item-right__information td {
    padding: 10px;
}
.item-right__category {
    display: inline-block;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 0px 20px;
}

/* コメントセクション */
.item-right__comment-title {
    color: #5f5f5f;
    font-size: 36px;
}
.item-right__comment-view {
    margin-bottom: 30px;
}
.item-right__user {
    display: flex;
    align-items: center;
}
.item-right__icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}
.item-right__user-name {
    font-size: 30px;
    font-weight: bold;
}
.item-right__comment-content {
    background-color: #e5e5e5;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.item-right__no-comments {
    margin-bottom: 40px;
}

/* コメントフォーム部分 */
.item-right__comments label {
    font-weight: bold;
    font-size: 28px;
}
.item-right__comments textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    height: 250px;
}
.item-right__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    margin-bottom: 30px;
}
.item-right__submit-btn {
    display: inline-block;
    width: 100%;
    color: #fff;
    background: #ff5555;
    padding: 7px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: none;
}
.item-right__submit-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}
