.success {
    width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.success-box {
    width: 600px;
    margin: 50px auto;
    border: solid 1px rgb(90, 90, 90);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.success-box__item-name {
    font-weight: bold;
    font-size: 18px;
}

.success-box__img-box {
    margin-bottom: 30px;
}
.success-box__img {
    width: 300px;
    height: auto;
}

.success-box__form {
    width: 100%;
}
.success-box__form input {
    border: none;
    field-sizing: content;
}
.success-box__form input:focus {
    outline: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    width: 25%;
    text-align: center;
    background-color: #f8f8f8;
    vertical-align: middle;
}

td {
    background-color: #fff;
}

.success-box__form-btn {
    text-decoration: none;
    width: 70%;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.success-box__form-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}