h2 {
    font-size: 36px;
    font-weight: 700;
}
label {
    font-size: 24px;
    font-weight: 700;
}
input {
    width: 100%;
    display: inline-block;
    font-size: 24px;
    padding: 10px;
}
.hidden {
    display: none;
}

.header {
    margin-bottom: 50px;
    position: relative;
    z-index: 10;
}
.verify__success {
    width: 100%;
    padding: 10px 15px;
    background-color: rgb(8, 122, 8);
    color: white;
    position: absolute;
    top: 50px;
    z-index: 5;
    animation: alert-animation 3s ease;
}
@keyframes alert-animation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(44px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 0;
    }
}

.edit {
    width: 680px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.edit-title {
    text-align: center;
}
.edit-form {
    margin-bottom: 30px;
}
.edit-form__image-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 60px 0px;
}
#previewContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 80px;
    background-color: #d9d9d9;
}
.edit-form__profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.edit-form__select-btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #f55;
    border: 1.5px solid #f55;
}
.edit-form__select-btn:hover {
    cursor: pointer;
    background-color: #f55;
    color: #fff;
}
.edit-form__register-error {
    margin-bottom: 50px;
    height: 20px;
    color: #ff0000;
    text-align: left;
}
.edit-form__register-error:last-of-type {
    margin-bottom: 80px;
}
.edit-form__submit-btn {
    width: 100%;
    color: #fff;
    background: #f55;
    border: none;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
}
.edit-form__submit-btn:hover {
    opacity: 0.8;
}
