a {
    text-decoration: none;
    color: #000;
}

.header {
    margin-bottom: 50px;
}
/* ユーザー名セクション */
.user-box {
    max-width: 1015px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-name__box {
    width: 70%;
    display: flex;
    align-items: center;
}
.user-name__profile-image {
    background-color: #d9d9d9;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 80px;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.user-name {
    font-size: 36px;
    font-weight: bold;
}
.edit-link {
    display: inline-block;
    color: #ff5555;
    border: 1.5px solid #ff5555;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 24px;
}
.edit-link:hover {
    color: #fff;
    background: #ff5555;
}


/* タブメニュー */
.tab {
    width: 100%;
    border-bottom: 2px solid #000;
}
.tab-inner {
    padding: 5px;
    max-width: 1540px;
    min-width: 1400px;
    margin: 0 auto;
    padding: 15px 100px;
    list-style: none;
    display: flex;
}
.tab-inner li {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 40px;
}
.tab-inner li.selected {
    color: #ff0000;
}
/* 選択されていないタブは、カーソルをポインター表示にする。*/
.tab-inner li:not(.selected) {
    cursor: pointer;
}
/* 選択されていないタブは、ホバー時に半透明にする。*/
.tab-inner li:not(.selected):hover {
    opacity: 0.6;
}


/* コンテンツ */
.product {
    display: none;
}
/* selectedクラスが付いたコンテンツのみ表示。 */
.product.selected {
    max-width: 1540px;
    min-width: 1400px;
    margin: 0 auto;
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
}
.product__card {
    width: 25%;
    margin-bottom: 50px;
}
.product__link:hover {
    opacity: 0.7;
}
.product__box {
    width: 90%;
    margin: 0 auto;
}
.product__img {
    /* background-color: #d9d9d9; */
    width: 290px;
    height: 290px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.product__img-name {
    font-size: 40px;
}
.product__name {
    font-size: 24px;
    margin: 0px;
}