a {
    text-decoration: none;
    color: #000;
}

.header {
    margin-bottom: 50px;
}
/* ユーザー名セクション */
.user-box {
    max-width: 1015px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-name__box {
    width: 50%;
    display: flex;
    align-items: center;
}
.user-name__profile-image {
    background-color: #d9d9d9;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 80px;
}
.user-name {
    font-size: 36px;
    font-weight: bold;
}
.edit-link {
    display: inline-block;
    color: #ff5555;
    border: 1.5px solid #ff5555;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 24px;
}
.edit-link:hover {
    color: #fff;
    background: #ff5555;
}

.lists {
    width: 100%;
    border-bottom: 2px solid #000;
    padding: 5px 150px;
}

.lists a {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin-right: 40px;
}

.lists .my-list {
    color: #ff0000;
}

.product {
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
}

.product__card {
    width: 25%;
    margin-bottom: 50px;
}

.product__link:hover {
    opacity: 0.7;
}

.product__box {
    width: 90%;
    margin: 0 auto;
}

.product__img {
    /* background-color: #d9d9d9; */
    width: 290px;
    height: 290px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.product__img-name {
    font-size: 40px;
}

.product__name {
    font-size: 24px;
    margin: 0px;
}