h2 {
    font-size: 36px;
    font-weight: 700;
}

label {
    font-size: 24px;
    font-weight: 700;
}

form input {
    width: 100%;
    display: inline-block;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 30px;
}

form input:last-of-type {
    margin-bottom: 80px;
}

.header {
    margin-bottom: 50px;
}



.profile__box {
    width: 680px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.profile__form {
    margin-bottom: 30px;
}

.profile__title {
    text-align: center;
}

.profile__btn {
    width: 100%;
    color: #fff;
    background: #f55;
    border: none;
    border-radius: 3px;
    padding: 20px;

    font-size: 26px;
    font-weight: bold;
}


.login__box {
    text-align: center;
}

.login__url {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #0073CC;
}