h2 {
    font-size: 36px;
    font-weight: 700;
}

label {
    font-size: 24px;
    font-weight: 700;
}

.purchase-address__form input {
    width: 100%;
    display: inline-block;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 30px;
}

.purchase-address__form input:last-of-type {
    margin-bottom: 80px;
}

.header {
    margin-bottom: 80px;
}


.purchase-address__box {
    width: 680px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.purchase-address__form {
    margin-bottom: 30px;
}

.purchase-address__title {
    text-align: center;
}

.purchase-address__btn {
    width: 100%;
    color: #fff;
    background: #f55;
    border: none;
    border-radius: 3px;
    padding: 20px;

    font-size: 26px;
    font-weight: bold;
}