# Laravel 基本
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Docker 関連
docker/mysql/data/
docker/mysql/logs/
docker/mysql/conf.d/*.cnf

# OS 系
Thumbs.db
ehthumbs.db
